
<!DOCTYPE html>
<html>
	<head>
        <h2 align="center"> SwipeToSpin Programming Test (Python)  </h2>

    </head>

    <body>
        <h3> Assignment </h3>
        <p>

                Write a Python program that prompts the user to enter an integer.

            If the input value is not an integer greater than one, display a helpful error message. Otherwise, output “prime” if the integer is prime (divisible only by 1 and itself), or “composite” if the integer is not prime.
        </p>

        <h3> Rules </h3>

        <ul>
            <li> Work on your own. Don’t ask others for help, either in person or electronically. </li>
            <li> It’s okay to refer to documentation or Google for specific questions about syntax and built-in functions, but not for other people’s solutions to similar programming problems. </li>
            <li> You will have 24 hours to submit your answer. </li>
            <li> You will be evaluated on the accuracy, efficiency and elegance of your solution. </li>
        </ul>
        
        <h3> Submitting your answer </h3>
        <p>
            Submit your finished program by email. If your program consists of more than one file, please combine into a single ZIP file.
        </p>
        <hr>

        <br>
        
        <div>
            <form method="POST" align="center">
                <input name="number">
                <input type="submit">
            </form>

        </div>

    </body>
<html>





